.loginButton {
    display: flex;
    justify-content: flex-end;
    margin-right: 1em;
}

.navSection {
    display: flex;
    justify-content: center;
}

.menuList {
    display: flex;
    list-style-type: none;
}

.menuList li {
    padding: 10px;
}

.menuArea {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputBox {
    position: absolute;
    display: flex;
    padding: 1em 0;
    align-items: center;
    right: 1em;
}

.inputBox input {
    width: 150px;
    margin-left: 10px;
}