.loginButton {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1em;
    margin-top: 10px;
}

.loginButton button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border-radius: 30px;
    font-weight: 600;
    padding: 3px 10px;
    border: none;

    transition: background-color 0.2s, color 0.2s;
}

.loginButton button:hover {
    background-color: #6c757d;
    color: white;
    cursor: pointer;
}

.loginButton div {
    margin-left: 2px;
}

.navSection {
    display: flex;
    justify-content: center;
}

.menuList {
    display: flex;
    list-style-type: none;
    margin-top: 1em;
}

.menuList li {
    padding: 10px;
}

.menuArea {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputBox {
    position: absolute;
    display: flex;
    padding: 0.2em;
    align-items: center;
    right: 1em;
    justify-content: center;
    width: 15%;
    border: solid 3px #ea041f;
    border-radius: 30px;
}

.inputBox input {
    border: none;
    border-bottom: solid 2px black;
    width: 60%;
    margin-left: 5px;
}

.productCard {
    margin-bottom: 1em;
    font-weight: 600;
    font-size: 1em;
}

.productCard img {
    width: 100%;
}

.productCard:hover {
    transform: scale(1.03);
}

.BoxContainer {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginForm {
    width: 50%;
    position: relative;
}

.loginForm button {
    position: absolute;
    right: 0;
}

.BoxContainer .row,
.BoxContainer .row .col,
.BoxContainer .row .col img {
    height: 100%;
}

/*디테일페이지*/

.productComment div {
    margin-bottom: 10px;
    font-size: 1.1em;
    font-weight: 600;
}

.productComment div:nth-child(3) {
    font-size: 0.8em;
    font-weight: 400;
    display: inline-block;
    width: auto;
    border-bottom: solid 1px #ea041f;
}

.productComment div:nth-child(4) {
    max-width: 30%;
    margin-top: 10px;
    background-color: #ffd000;
    text-align: center;
    color: #001d3d;
    border-radius: 30px;
    animation: blink 0.5s infinite alternate;
}

.productCardChoice {
    display: inline-block;
    font-weight: 400;
    border-bottom: solid 1px #ea041f;
}

.productCardNew {
    max-width: 30%;
    margin-top: 10px;
    background-color: #ffd000;
    text-align: center;
    color: #001d3d;
    border-radius: 30px;
    animation: blink 0.5s infinite alternate;
}

@keyframes blink {
    from {
        background-color: rgba(255, 208, 0, 0.8);
        /* 시작 색상 */
    }

    to {
        background-color: rgba(255, 208, 0, 0.4);
        /* 끝 색상 */
    }
}

.productComment .productTitle {
    font-size: 1.3em;
}

.addButton {
    width: 100%;
    margin-top: 2em;
    background: none;
    border-radius: 30px;
    font-size: 1.1em;
    font-weight: 600;
}

.addButton:hover {
    background-color: black;
    color: white;
}

.logoutMent {
    font-weight: 600;
    font-size: 1.5em;
    margin-bottom: 40px;
}

.logout {
    width: 80%;
    text-align: center;
}

.row {
    justify-content: center;
}

/*사이드 메뉴*/
.sideMenu {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 150px;
    transform: translateX(-110%);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f6aa1c;
    transition: transform 0.7s;
}

.sideMenu.show {
    transform: translateX(0);
}

.sideMenu>div {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
}

.hideIcon {
    display: flex;
    justify-content: end;
    padding: 10px;
    margin-bottom: 20px;
}

.sideMenus {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    font-weight: 600;
    font-size: 1.1em;
}

.loginButton .sideMenuButton {
    display: none;
}

@media (max-width:990px) {
    .menuArea {
        position: static;
    }

    .menuList {
        display: none;
    }

    .inputBox {
        position: static;
        margin: 20px 0;
        width: 40%;
        min-width: 200px;
        right: 0;
    }

    .loginButton .sideMenuButton {
        display: block;
    }

    .loginButton {
        justify-content: space-between;
    }
}

@media (max-width:600px) {
    .row img {
        width: 70%;
    }

    .productCard {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .productCardNew {
        width: 40%;
    }
}