.loginButton {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1em;
}

.loginButton button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border-radius: 30px;
    font-weight: 600;
    padding: 3px 10px;
    border: none;

    transition: background-color 0.2s, color 0.2s;
}

.loginButton button:hover {
    background-color: #6c757d;
    color: white;
    cursor: pointer;
}

.loginButton div {
    margin-left: 2px;
}

.navSection {
    display: flex;
    justify-content: center;
}

.menuList {
    display: flex;
    list-style-type: none;
    margin-top: 1em;
}

.menuList li {
    padding: 10px;
}

.menuArea {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputBox {
    position: absolute;
    display: flex;
    padding: 0.2em;
    align-items: center;
    right: 1em;
    justify-content: center;
    width: 15%;
    border: solid 3px #ea041f;
    border-radius: 30px;
}

.inputBox input {
    border: none;
    border-bottom: solid 2px black;
    width: 60%;
    margin-left: 5px;
}

.productCard {
    margin-bottom: 1em;
}

.productCard img {
    width: 100%;
}

.productCard:hover {
    transform: scale(1.03);
}

.BoxContainer {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginForm {
    width: 40%;
    position: relative;
}

.loginForm button {
    position: absolute;
    right: 0;
}

.BoxContainer .row,
.BoxContainer .row .col,
.BoxContainer .row .col img {
    height: 100%;
}